.footer {
  padding: 48px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 48px;
  text-align: center;
}

.text {
  font-size: 13px;
  font-weight: 400;
  color: #757575;
}

@media (max-width: 828px) {
  .inner {
    padding: 0 24px;
  }
}
